/*
    Document   : intro.css
    Created on : 2015-04-29 06:27 PM
    Author     : BilboBaggins
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
html{
    background-color: red
}