/*
    Document   : navbar.css
    Created on : 2015-04-30 08:27 PM
    Author     : BilboBaggins
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
#navbar{
    text-align:center;
}

#navbar > * {
    display: inline-block;
    border: 2px solid black;
     background-color: white;
}

#navbar a {
    text-decoration: none
}